<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee pulse - generowanie ankiety</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="../../static/IMAGES/favicon.png" />

</head>

<body>
    <nav class="navbar topbar">
        <div class="row row-topbar">
            <div class="col-sm-12 col-md-4 col-lg-3 redirect">
                <a href="display_surveys.html"><button class="btn btn-primary btn-login" type="submit">RAPORTY</button></a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-6 title">
                <h1>GENEROWANIE ANKIETY</h1>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 user">
                <i class="user-name">Imię Nazwisko</i>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                    <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                </svg>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row row-gen">
            <div class="col-sm-12 col-md-12 col-lg-12 mx-auto content">
                <form action="survey_link.html">
                    <div class="row row-form">
                        <div class="form-floating mb-3 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" class="form-control" id="title" placeholder="Tytuł ankiety" required="required">
                            <label for="floatingText">Tytuł ankiety</label>
                        </div>
                        <div class="form-floating mb-3 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" class="form-control" id="question" placeholder="Pytanie" required="required">
                            <label for="floatingText">Pytanie</label>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 answer-edit">
                            <div class="form-floating mb-3 answer-input">
                                <input type="text" class="form-control" id="answer1" placeholder="Odpowiedź 1">
                                <label for="floatingText">Odpowiedź 1</label>
                            </div>
                            <div class="form-floating mb-3">
                                <!-- Popup emoji picker -->
                                <button type="button" id="emoji-button-1" class="emoji-button empty" data-bs-toggle="modal" data-bs-target="#reg-modal"></button>
                                <input type="hidden" id="emoji-1" value="">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 answer-edit">
                            <div class="form-floating mb-3 answer-input">
                                <input type="text" class="form-control" id="answer2" placeholder="Odpowiedź 2">
                                <label for="floatingText">Odpowiedź 2</label>
                            </div>
                            <div class="form-floating mb-3">
                                <!-- Popup emoji picker -->
                                <button type="button" id="emoji-button-2" class="emoji-button empty" data-bs-toggle="modal" data-bs-target="#reg-modal"></button>
                                <input type="hidden" id="emoji-2" value="">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 answer-edit">
                            <div class="form-floating mb-3 answer-input">
                                <input type="text" class="form-control" id="answer3" placeholder="Odpowiedź 3">
                                <label for="floatingText">Odpowiedź 3</label>
                            </div>
                            <div class="form-floating mb-3">
                                <!-- Popup emoji picker -->
                                <button type="button" id="emoji-button-3" class="emoji-button empty" data-bs-toggle="modal" data-bs-target="#reg-modal"></button>
                                <input type="hidden" id="emoji-3" value="">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 answer-edit">
                            <div class="form-floating mb-3 answer-input">
                                <input type="text" class="form-control" id="answer4" placeholder="Odpowiedź 4">
                                <label for="floatingText">Odpowiedź 4</label>
                            </div>
                            <div class="form-floating mb-3">
                                <!-- Popup emoji picker -->
                                <button type="button" id="emoji-button-4" class="emoji-button empty" data-bs-toggle="modal" data-bs-target="#reg-modal"></button>
                                <input type="hidden" id="emoji-4" value="">
                            </div>
                        </div>

                        <div class="start-date col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-floating">
                                <input type="datetime-local" class="form-control form-control-start form-control-start-gen" id="startTime" placeholder="Start" required="required">
                                <label for="floatingText">Start</label>
                            </div>
                        </div>
                        <div class="end-date col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-floating">
                                <input type="datetime-local" class="form-control form-control-end form-control-end-gen" id="endTime" placeholder="Koniec" required="required">
                                <label for="floatingText">Koniec</label>
                            </div>
                        </div>
                        <div class="d-grid">

                            <button type="button" class="btn btn-primary mb-3" id="defaultFill">Uzupełnij ankietę domyślnymi danymi</button>

                            <button class="btn btn-primary btn-login mb-3" type="submit">generuj ankietę</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Emoji picker -->
    <div class="modal fade" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        <emoji-picker class="light"></emoji-picker>
                        <button type="button" class="btn btn-primary mt-3" id="closeModalBtn" data-bs-dismiss="modal">Zamknij</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/emoji-picker-element@1"></script>
    <script src="../../static/scripts/generating_survey.js"></script>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>

</html>