<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Employee pulse - Ankieta</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/style-survey.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../static/IMAGES/favicon.png" />
</head>

<body>
    <div class="container">
        <div class="survey col-sm-12 col-md-12 col-lg-12 col-xl-10">

            <div class="question row">
                <div class="col-12">
                    <img class="logo mb-3" src="../../static/IMAGES/logo.png"><br>
                    <!-- Tutaj pobrać pytanie z bazy -->
                    Jak się dziś czujesz?
                </div>
            </div>
            <div class="answers row row-cols-1 row-cols-md-2">

                <div class="col mb-4 d-flex align-items-stretch">

                    <div class="card answer answer-1">
                        <button class="answer-btn">
                            <!-- Tutaj pobrać obraz z bazy danych (mechanika do omówienia)-->
                            <div class="card-header card-header-answer-1">
                                😃
                            </div>
                            <div class="card-body card-body-answer-1">
                                <!-- Tutaj pobrać odpowiedź z bazy -->
                                <p class="card-text ">Bardzo dobrze</p>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch ">
                    <div class="card answer answer-2">
                        <button class="answer-btn">
                            <!-- Tutaj pobrać obraz z bazy danych (mechanika do omówienia)-->
                            <div class="card-header card-header-answer-2">
                                😐
                            </div>
                            <div class="card-body card-body-answer-2">
                                <!-- Tutaj pobrać odpowiedź z bazy -->
                                <p class="card-text ">Zwyczajnie</p>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch ">
                    <div class="card answer answer-3">
                        <button class="answer-btn">
                            <!-- Tutaj pobrać obraz z bazy danych (mechanika do omówienia)-->
                            <div class="card-header card-header-answer-3">
                                😢
                            </div>
                            <div class="card-body card-body-answer-3">
                                <!-- Tutaj pobrać odpowiedź z bazy -->
                                <p class="card-text ">Smutno mi</p>
                            </div>
                        </button>
                    </div>

                </div>
                </button>
                <div class="col mb-4 d-flex align-items-stretch ">
                    <div class="card answer answer-4">
                        <button class="answer-btn">
                            <!-- Tutaj pobrać obraz z bazy danych (mechanika do omówienia)-->
                            <div class="card-header card-header-answer-4">
                                🤬
                            </div>
                            <div class="card-body card-body-answer-4">
                                <!-- Tutaj pobrać odpowiedź z bazy -->
                                <p class="card-text ">Jestem zły</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>