body {
    min-height: 100vh;
    background-color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
    color: #727272;
    display: flex;
    font-size: 18px;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.row {
    margin: 0;
    display: flex;
    justify-content: center;
}

.col {
    padding: 0;
}

.survey {
    background-color: white;
    height: auto;
    text-align: center;
    box-shadow: 0 12px 12px rgb(0 0 0 / 30%);
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
}


/* Survey question */

.question {
    padding: 40px;
    font-size: 24px;
}


/* Survey answers */

.answers {
    margin-bottom: 40px;
    height: auto;
}

.answer {
    background-color: #E5E5E5;
    width: 100%;
    min-height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 12px 12px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

.answer:hover {
    background-color: #727272;
}

.answer-1:hover {
    background-color: #32CD32;
}

.answer-2:hover {
    background-color: #000000;
}

.answer-3:hover {
    background-color: #000080;
}

.answer-4:hover {
    background-color: #FF0000;
}

.survey-image {
    width: 150px;
    height: 150px;
}

.card-body {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #727272;
}

a:hover {
    color: #727272;
}

button {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    border: none;
}